{% extends 'gitc/index.html' %}
{% load staticfiles %}
{% block title %}人员管理{% endblock %}

{% block css %}
<link href="/static/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <style>
        .form-group p{color: red}
    </style>
{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="row">
      <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>人员管理 <small></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">搜索</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{ title }}<small>{{ p_obj.cname }}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form enctype="multipart/form-data" class="form-horizontal form-label-left" method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">姓名<span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                              {{ obj.cname }}
                                <p>{{ obj.errors.cname.0 }}</p>
                            </div>
                          </div>
                            <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">拼音<span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                              {{ obj.ename }}
                                <p>{{ obj.errors.ename.0 }}</p>
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="middle-name" class="control-label col-md-1 col-sm-1 col-xs-12">公司名称</label>
                            <div class="col-md-8 col-sm-8 col-xs-12 myselect" olddata="{{ carousel_obj.orgid.id }}">
                              {{ obj.company }}
                                <p>{{ obj.errors.company.0 }}</p>
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="middle-name" class="control-label col-md-1 col-sm-1 col-xs-12">职位名称</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                              {{ obj.position }}
                                <p>{{ obj.errors.position.0 }}</p>
                            </div>
                          </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">头像 <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-5 col-xs-3">
                                  {{ obj.pic }}
                                    <span>如已上传，不用再次上传！</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">状态 <span class="required">*</span>
                                </label>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                  {{ obj.status }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">简介 <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  {{ obj.summary }}
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                              <input class="btn btn-primary" type="reset">
                              <input id="tijiao" class="btn btn-primary" type="submit" value="提交">
                            </div>
                          </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>

{% endblock %}

{% block js %}
<script src="/static/plugins/kindeditor/kindeditor-all-min.js"></script>
<script>
        $(function () {
           makeselect();
           addcss();
        });
        function makeselect() {
            $('.myselect').each(function () {
                var olddata = $(this).attr('olddata');
                $(this).find('option').each(function () {
                    var v =  $(this).attr('value');
                    if (v === olddata){
                        $(this).attr('selected',true)
                    }else {
                        $(this).attr('selected',false)
                    }
                })

            })
        }
        function addcss() {
            $('#id_status').attr('class','form-control')

        }

    </script>

{% endblock %}

{% block footer %}{% endblock %}